
<!DOCTYPE html>
<html>
  <head>
    <title>Survey</title>
  </head>
  <body>
    <h1>How likely would you use each detergent on your favorite colored shirt?  </h1>
    <p><%= message %></p>    

    <form method="POST" action="/submit">
      
      


    </form>


  </body>
</html>
