
<!DOCTYPE html>
<html>
  <head>
    <title>Survey</title>
    <link rel='stylesheet' href='/css/main.css'>
  </head>
  <body>
    <h1>How likely would you use each detergent on your favorite colored shirt?  </h1>

    <form method="POST" action="/photo/create">

      <input type='text' name='name'/>
      <input type='file' name='photo'/>

      <input type='submit'/>
    </form>


  </body>
</html>
